<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Contact</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Demo project">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
		<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
		<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
		<link rel="stylesheet" type="text/css" href="plugins/jquery.mb.YTPlayer-3.1.12/jquery.mb.YTPlayer.css">
		<link rel="stylesheet" type="text/css" href="styles/contact.css">
		<link rel="stylesheet" type="text/css" href="styles/contact_responsive.css">
	</head>
	<body>

		<div class="super_container">

			<!-- Header -->

			<header class="header">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="header_content d-flex flex-row align-items-center justify-content-start">
								<div class="logo"><a href="#">immatric</a></div>
								<nav class="main_nav">
									<ul>
										<li class="active"><a href="index.html">Fandresena</a></li>
										<li><a href="#">Fandresena</a></li>
										<li><a href="#">Fandresena</a></li>
									</ul>
								</nav>
								<div class="search_container ml-auto">


									<form action="#">
										<input type="search" class="header_search_input" required="required" placeholder="Entrez l'immatricule..">
										<img class="header_search_icon" src="images/search.png" alt="">
									</form>

								</div>
								<div class="hamburger ml-auto menu_mm">
									<i class="fa fa-bars trans_200 menu_mm" aria-hidden="true"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<!-- Menu -->

			<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
				<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
				<div class="logo menu_mm"><a href="#">Avision</a></div>
				<div class="search">
					<form action="#">
						<input type="search" class="header_search_input menu_mm" required="required" placeholder="Type to Search...">
						<img class="header_search_icon menu_mm" src="images/search_2.png" alt="">
					</form>
				</div>
				<nav class="menu_nav">
					<ul class="menu_mm">
						<li class="menu_mm"><a href="index.html">home</a></li>
						<li class="menu_mm"><a href="#">Fashion</a></li>
						<li class="menu_mm"><a href="#">Gadgets</a></li>
						<li class="menu_mm"><a href="#">Lifestyle</a></li>
						<li class="menu_mm"><a href="#">Video</a></li>
						<li class="menu_mm"><a href="contact.html">Contact</a></li>
					</ul>
				</nav>
			</div>

			<!-- Home -->

			<div class="home">
				<div class="home_background parallax-window" data-parallax="scroll" data-image-src="img/42cD7C.jpg" data-speed="0.8"></div>
				<div class="home_content">
					<div class="container">
						<div id="option">
							<h1>Voulez-vous</h1>
						</div>
						<div id="option">
							<h1>vous connecter</h1>
						</div>
						<div id="option">
							<h1>ou vous inscrir ?</h1>
						</div>
						<br>
						<br>
						<br>


						<div id="option">
							<!--							<button type="submit" class="contact_button">Se connecter</button>-->
							<% if user_signed_in? %>
							<button type="submit" class="contact_button">
								<%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
							</button>
							<% else %>



							<button type="submit" class="contact_button">
								<%= link_to "Se connecter", new_user_session_path %>
							</button>

							<button type="submit" class="contact_button">
								<%= link_to "S'enregistrer", new_user_registration_path %>
							</button>

							<% end %>


						</div>







					</div>
				</div>
			</div>
			<!--		</div>-->

			<!-- Footer -->

			<footer class="footer">
				<div class="container">
					<div class="row row-lg-eq-height">
						<div class="col-lg-9 order-lg-1 order-2">
							<div class="footer_content">
								<div class="footer_logo"><a href="#">sponsors</a></div>
								<div class="footer_social">
									<ul>
										<li class="footer_social_facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li class="footer_social_twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li class="footer_social_pinterest"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
										<li class="footer_social_vimeo"><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
										<li class="footer_social_instagram"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
										<li class="footer_social_google"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
									</ul>
								</div>
								<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
									Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tout droits reservés | Fait par l'équipe <i class="fa fa-heart-o" aria-hidden="true"></i> <a href="https://sayna.io" target="_blank">Sayna</a>
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</div>
							</div>
						</div>
						<div class="col-lg-3 order-lg-2 order-1">
							<!--							<div class="subscribe">-->
							<div class="subscribe_background"></div>
							<div class="subscribe_content">
								<div class="subscribe_title">Se connecter en tant qu'admin</div>
								<!--								<form action="#">-->
								<!--								<input type="email" class="sub_input" placeholder="Your Email" required="required">-->

								<button type="submit" class="btn">Je suis admin</button>
								<!--									</form>-->
								<!--								</div>-->
								<!--							</div>-->
								<!--									</div>-->
							</div>
						</div>
					</div>
				</div>
			</footer>

			<script src="js/jquery-3.2.1.min.js"></script>
			<script src="styles/bootstrap4/popper.js"></script>
			<script src="styles/bootstrap4/bootstrap.min.js"></script>
			<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
			<script src="plugins/easing/easing.js"></script>
			<script src="plugins/masonry/masonry.js"></script>
			<script src="plugins/parallax-js-master/parallax.min.js"></script>
			<script src="js/contact.js"></script>
		</div>
	</body>
</html>

